<div class="contact-container">
  <div class="info-container">
    <div class="info">
      <h1>Let’s talk</h1>
      <p>
        We collaborate with thousands of creators,<br />
        entrepreneurs and complete legends.
      </p>
      <ul>
        <li class="item">
          <ng-icon class="icon" name="tablerMail" />
          <div>
            <p>Our email</p>
            <p>hello&#64;example.com</p>
          </div>
        </li>
        <li class="item">
          <ng-icon class="icon" name="tablerPhone" />
          <div>
            <p>Call us</p>
            <p>+123 456 7892</p>
          </div>
        </li>
        <li class="item">
          <ng-icon class="icon" name="tablerMapPin" />
          <div>
            <p class>Find us</p>
            <p>Open Google Maps</p>
          </div>
        </li>
      </ul>
      <div class="social">
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ng-icon size="30" name="featherInstagram"></ng-icon>
        </a>
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ng-icon size="30" name="featherFacebook"></ng-icon>
        </a>
        <a
          href="https://www.linkedin.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ng-icon size="30" name="featherLinkedin"></ng-icon>
        </a>
      </div>
    </div>
    <form class="form-container">
      <div>
        <div class="input-container">
          <label for="firstName">First name</label>
          <input id="firstName" name="firstName" />
        </div>
        <div class="input-container">
          <label for="lastName">Last name</label>
          <input id="lastName" name="lastName" />
        </div>
      </div>
      <div>
        <div class="input-container">
          <label for="phone">Phone</label>
          <input id="phone" name="phone" />
        </div>
        <div class="input-container">
          <label for="email">Email</label>
          <input id="email" name="email" />
        </div>
      </div>
      <div>
        <div class="input-container message">
          <label for="message">Message</label>
          <input id="message" name="message" />
        </div>
      </div>
      <button>Submit Now</button>
    </form>
  </div>
  <div class="map">
    <img src="assets/map.png" alt="mapa" />
  </div>
</div>
