<div class="contact-container">
  <div class="info-container">
    <div class="info">
      <h1>Let’s talk</h1>
      <p>
        We collaborate with thousands of creators,<br />
        entrepreneurs and complete legends.
      </p>
      <ul>
        <li class="item">
          <ng-icon class="icon" name="tablerMail" />
          <div>
            <p>Our email</p>
            <p>hello&#64;example.com</p>
          </div>
        </li>
        <li class="item">
          <ng-icon class="icon" name="tablerPhone" />
          <div>
            <p>Call us</p>
            <p>+123 456 7892</p>
          </div>
        </li>
        <li class="item">
          <ng-icon class="icon" name="tablerMapPin" />
          <div>
            <p class>Find us</p>
            <p>Open Google Maps</p>
          </div>
        </li>
      </ul>
      <div class="social">
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ng-icon size="30" name="featherInstagram"></ng-icon>
        </a>
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ng-icon size="30" name="featherFacebook"></ng-icon>
        </a>
        <a
          href="https://www.linkedin.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ng-icon size="30" name="featherLinkedin"></ng-icon>
        </a>
      </div>
    </div>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="form-container">
      <div>
        <div class="input-container">
          <label for="firstName">First name</label>
          <input
            id="firstName"
            name="firstName"
            [(ngModel)]="contactForm.firstName"
            required
            #firstName="ngModel"
            required
            minlength="3"
          />

          <div
            *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
            class="error"
          >
            <div *ngIf="firstName.errors?.['required']">
              First name is required.
            </div>
            <div *ngIf="firstName.errors?.['minlength']">
              First name must be at least 2 characters long.
            </div>
          </div>
        </div>
        <div class="input-container">
          <label for="lastName">Last name</label>
          <input
            id="lastName"
            name="lastName"
            [(ngModel)]="contactForm.lastName"
            required
            #lastName="ngModel"
            required
            minlength="3"
          />
          <div
            *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
            class="error"
          >
            <div *ngIf="lastName.errors?.['required']">
              Last name is required.
            </div>
            <div *ngIf="lastName.errors?.['minlength']">
              Last name must be at least 2 characters long.
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container">
          <label for="phone">Phone</label>
          <input
            id="phone"
            name="phone"
            [(ngModel)]="contactForm.phone"
            [(ngModel)]="contactForm.phone"
            #phone="ngModel"
            required
            pattern="^[0-9]{10}$"
            mask="(000) 000-0000"
          />
          <div
            *ngIf="phone.invalid && (phone.dirty || phone.touched)"
            class="error"
          >
            <div *ngIf="phone.errors?.['required']">
              Phone number is required.
            </div>
            <div *ngIf="phone.errors?.['pattern']">
              Phone number must be 10 digits long.
            </div>
          </div>
        </div>
        <div class="input-container">
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            [(ngModel)]="contactForm.email"
            #email="ngModel"
            required
            email
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="error"
          >
            <div *ngIf="email.errors?.['required']">Email is required.</div>
            <div *ngIf="email.errors?.['email']">
              Enter a valid email address.
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="input-container message">
          <label for="message">Message</label>
          <input
            id="message"
            name="message"
            [(ngModel)]="contactForm.message"
            #message="ngModel"
            required
            minlength="10"
          />
          <div
            *ngIf="message.invalid && (message.dirty || message.touched)"
            class="error"
          >
            <div *ngIf="message.errors?.['required']">Message is required.</div>
            <div *ngIf="message.errors?.['minlength']">
              Message must be at least 10 characters long.
            </div>
          </div>
        </div>
      </div>
      <button
        [ngClass]="{
          button: true,
          'button-loading': formState === 'loading',
          'button-success': formState === 'success',
          'button-failure': formState === 'failure',
          'invalid-button': !myForm.valid,
        }"
        [disabled]="formState !== 'idle' || !myForm.valid "
      >
        <ng-container [ngSwitch]="formState">
          <span *ngSwitchCase="'loading'" class="spinner"></span>
          <span *ngSwitchCase="'success'" class="checkmark"></span>
          <span *ngSwitchCase="'failure'" class="failure"></span>
          <span *ngSwitchDefault>Submit Now</span>
        </ng-container>
      </button>
    </form>
  </div>
  <div class="map">
    <img src="assets/map.png" alt="mapa" />
  </div>
</div>
