<section class="about-hero">
    <div class="img-container">
        <img src="assets/Group2.png" alt="grupo de pessoas">
    </div>
    <div class="text-container">
        <h1>About Us</h1>
        <h2>The core mission<br> behind all our<br> work</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit metus <br> ut tortor purus tincidunt sed lectus ut eros, turpis tincidunt id.</p>
        <div>
            <div><span class="number">330 +</span> <p class="number-sub">Clients satisfied</p></div>
            <div><span class="number">220 +</span> <p class="number-sub">Revenue generated</p></div>
        </div>
        <button>Start your Free Trial</button>
    </div>
</section>
