<section class="about-section">
  <div class="about-container">
    <app-about-hero>
      <img hero-image src="assets/about-hero.png" alt="group of people" />
      <div text-container class="text-container">
        <h1>Pleasure and so read the was hope.</h1>
        <h2>
          Ready to take<br />
          <span>your business</span> <br />
          to the next level?
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit-et ut massa
          libero egestas malesuada viverra gravida libero cursus nulla leo
          pulvinar.
        </p>
        <div class="rating">
          <div class="img-container">
            <img src="assets/rate-avatar.png" alt="avatar de usuario" />
          </div>
          <div>
            <span>Rated 4.9/5 stars</span>
            <span>
              <ng-icon name="bootstrapStarFill"></ng-icon>
              <ng-icon name="bootstrapStarFill"></ng-icon>
              <ng-icon name="bootstrapStarFill"></ng-icon>
              <ng-icon name="bootstrapStarFill"></ng-icon>
              <ng-icon name="bootstrapStarFill"></ng-icon>
            </span>
          </div>
        </div>
      </div>
    </app-about-hero>
  </div>
  <div class="info-container">
    <div class="info-item">
      <h1>200+</h1>
      <span>We're family</span>
      <p>Speedily say has suitable disposal add boy. On fourth doubt miles of child. Exercise joy man children rejoiced.</p>
    </div>
    <div class="info-item">
      <h1>99%</h1>
      <span>Graphic Design</span>
      <p>Perceived end knowledge certainly day sweetness why cordially. Ask a quick six seven offer see among.</p>
    </div>
    <div class="info-item">
      <h1>1.5M+</h1>
      <span>Digital Marketing</span>
      <p>Rooms oh fully taken by worse do. Points afraid but may end law lasted. Was out laughter raptures returned outweigh.</p>
    </div>
  </div>
  <app-team />
</section>
