<footer>
  <div class="footer-container">
    <div class="footer-top">
      <div class="logo">
        <div class="logo-container">
          <img src="assets/logo.png" />
          <span>Canvix</span>
        </div>
        <p>
            We're a team of strategic creator and digital innovator, united
            focus in our pursuit of mastery and joyful.
        </p>

      </div>
      <div class="pages">
        <div class="page">
          <h2>Pages</h2>
          <ul>
            <li><p>Home</p></li>
            <li><p>About</p></li>
            <li><p>Contact Us</p></li>
            <li><p>Portfolio</p></li>
            <li><p>Portfolio Single</p></li>
          </ul>
        </div>
        <div class="utility-pages">
          <h2>Utility Pages</h2>
          <ul>
            <li><p>Style Guide</p></li>
            <li><p>Instruction</p></li>
            <li><p>License</p></li>
            <li><p>Changelog</p></li>
            <li><p>Error 404</p></li>
            <li><p>Password Protected</p></li>
          </ul>
        </div>
      </div>
      <div class="subscribe">
        <h2>Subscribe</h2>
        <div>
          <input type="text" placeholder="Enter your email here"/>
          <button>Subscribe</button>
        </div>    
      </div>
    </div>

    <div class="footer-bottom">
      <div>
        <h3>Copyright by</h3>
        <span>Designed by iconstica.com</span>
      </div>
      <div>
        <h3>Contact Us</h3>
        <span>+0 999 999 999</span>
      </div>
      <div>
        <h3>Address</h3>
        <span>119 Tanglewood Lane Gulfport, MS 39503</span>
      </div>
      <div class="social">
        <a
          href="https://www.instagram.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ng-icon size="25" name="featherInstagram"></ng-icon>
        </a>
        <a
          href="https://www.facebook.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ng-icon size="25" name="featherFacebook"></ng-icon>
        </a>
        <a
          href="https://www.linkedin.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <ng-icon size="25" name="featherLinkedin"></ng-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
