.services-container{
    display: flex;
    padding: 40px 100px;
    font-family: "Roboto Serif", serif;
    flex-direction: column;
}

.title{
    text-align: center;
}

.title > h1 {
    font-size: 22px;
    color: var(--light-green);
}


.title > h2 {
    margin: -10px;
    font-size: 40px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 380px);
    justify-content: space-between;
    align-items: center;
}

